appdirs==1.4.0
certifi==2017.1.23
cffi==1.9.1
cryptography==1.7.2
enum34==1.1.6
futures==3.0.5
-e git+https://github.com/GoogleCloudPlatform/google-auth-library-python.git#egg=google-auth
googleapis-common-protos==1.5.0
grpcio==1.1.0
idna==2.2
ipaddress==1.0.18
oauthlib==2.0.1
packaging==16.8
protobuf==3.2.0
pyasn1==0.2.2
pyasn1-modules==0.0.8
PyAudio==0.2.10
pycparser==2.17
pyOpenSSL==16.2.0
pyparsing==2.1.10
requests==2.13.0
requests-oauthlib==0.7.0
rsa==3.4.2
six==1.10.0
urllib3==1.20
